<!-- <div class="container">
    <div class="left-box">
        <img src='../../../assets/imgs/iexplore-logo.svg' height="200px">
    </div>
    <div class="right-box">
        <h1 class="login-head">Admin Login</h1>
        <form class="form"> 
            <mat-form-field>
                <input type="text" placeholder="Email id" matInput>
            </mat-form-field>
            
            <mat-form-field>
                <input type="text" placeholder="Password" matInput>
            </mat-form-field>

            <button type="submit">Login</button>
        </form>
    </div>
</div> -->

<div class="main-container">

    <div class="container">
        <div class="card login-card col-md-10 p-0">
            <div class="row no-gutters">
                <div style="background: #080e12;" class="col-md-5 left-box">
                  <img src="../../../assets/imgs/iexplore-logo.svg">
                </div>
                <div class="col-md-5">
                  <div class="card-body">
                    <div class="brand-wrapper">
                      <img src="../../../assets/imgs/ic_launcher_indoorsgps_round.png" alt="logo" class="logo">
                      iExplore
                    </div>
                    <p class="login-card-description">Sign into your account</p>
                    <form action="#!">
                        <div class="form-group">
                          <label for="email" class="sr-only">Email</label>
                          <input type="email" name="email" id="email" class="form-control" placeholder="Email address">
                        </div>
                        <div class="form-group mb-4">
                          <label for="password" class="sr-only">Password</label>
                          <input type="password" name="password" id="password" class="form-control" placeholder="***********">
                        </div>
                        <input name="login" id="login" class="btn btn-block login-btn mb-4" type="button" value="Login">
                      </form>
                      
                      <nav class="login-card-footer-nav">
                        <a href="#!">Terms of use</a>
                        <a href="#!">Privacy policy</a>
                      </nav>
                  </div>
                </div>
              </div>
            </div>
        </div>
    
</div>